<html>
    <style>
        body {
            background-color: #ffb3ff;
        }
    
        input{border-radius: 10px;}
        input:hover{border-radius: 10px;
            background-color: #ff90ff !important;
            color: white !important ;
        }
    </style>
    <body>
        <div align="center">
            <input type="button" id="btnMain" onclick="test();" value="Push, when you need my attention"
            style="width:95%;
            height:200px;
            border: 4px solid #800080;
            background-color: #ffccff;
            font-size:60px;
            font-family:cursive;
            color: #800080;
            font-weight: bold;
            margin-left:auto;
            margin-right:auto;
            display:block;
            margin-top:25%;
            margin-bottom:0%;"/>
            </div>
        
        <div align="center"
            style="
            font-size: 40px;
            font-family: cursive;
            margin-top: 40px">
            Created for my beautiful Pati &#128156;
        </div>
        <div align="center"
            style="
            font-size: 34px;
            font-family: cursive;">
            2019
        </div>
        
        
        <script type="text/javascript" >
            var webSocket;
            
            webSocket = new WebSocket('ws://'+window.location.hostname + ':80/subscribe');
            
            webSocket.onmessage = function(event) {
                if(event.data == "done"){
                alert("Attention notification has been received!");
                disableButton();
                }
            }
            
            function test(){
            webSocket.send(1);
            alert("Wait for the answer...");
            }
            
            function onMessage(event){
            console.log(event.data);
            }
        
            function disableButton(){
            document.getElementById(btnMain.id).disabled = true;
            document.getElementById(btnMain.id).value = "Wait a little!";
            setTimeout(function(){document.getElementById(btnMain.id).disabled = false;},10000);
            document.getElementById(btnMain.id).value = "Push, when you need my attention";
            }
        
            </script>
</body>
</html>

