<html>
    <body>
        <div align="center">
            <input type="button" id="btnMain" onclick="test(this);" value="I need attention!"
            style="width:400px; height:200px; margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%"/>
            </div>
        <script type="text/javascript" >
            var webSocket;
            
            webSocket = new WebSocket('ws://'+window.location.hostname + ':80/subscribe');
            
            webSocket.onmessage = function(event) { onMessage(event); }
            
            function test(btn){
            webSocket.send("1");
            disableButton(btn);
            }
            
            function onMessage(event){
            console.log(event.data);
            }
        
            function disableButton(btn){
            document.getElementById(btn.id).disabled = true;
            alert("Attention notification has been sent!");
            setTimeout(function(){document.getElementById(btn.id).disabled = false;},1000); //1s delay
            }
        
            </script>
</body>
</html>

